# TODO: API del cuestionario BitePal
VITE_QUESTIONARY_API_URL=http://questionary.reonboarding.rocks/api/v1/questionary/projects/Bitepal/branches/ggl

# TODO: Stripe - para integración de pagos
VITE_STRIPE_PUBLIC_KEY=pk_live_xxxxxxxxxxxxxxxxxxxxx

# TODO: Yuno - proveedor alternativo de pagos
VITE_YUNO_PUBLIC_KEY=your_yuno_public_key

# TODO: Sentry para monitoreo de errores
VITE_SENTRY_DSN=your_sentry_dsn

# TODO: Feature flags (A/B testing: new_paywall, pw_product_card_var1, stripe_express, yuno_express)
VITE_FEATURE_FLAGS_API=your_feature_flags_endpoint